{
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "lf"
}